@use '../abstracts/variables' as *;


/* Target the links inside both primary and secondary button wrappers */
.primary-btn .wp-block-button__link:hover,
.secondary-btn .wp-block-button__link:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
    /* Optional: Ensure the text remains visible if the background is light */
    color: white; 
    border: 1px solid white;
    transition: background-color 0.3s ease;
}

/* Smooth transition for the default state */
.primary-btn .wp-block-button__link,
.secondary-btn .wp-block-button__link {
    transition: background-color 0.3s ease;
}

// /* Target the specific Stackable button block */
// .stk-block-button.stk-cbd27bb .stk-button.stk--hover-effect-darken:hover,
// .wp-element-button:hover
//  {
//     background-color: transparent !important;
//     border: 1px solid var(--wp--preset--color--harbor-700, #4E6E88) !important;
//     color: var(--wp--preset--color--harbor-700, #4E6E88) !important;
//     transition: background-color 0.3s ease;
//     margin: 0 !important;
//     font-weight: 500;
//     /* Disable the default darken filter effect */
//     filter: none !important;
// }

// /* Update the text color inside the button on hover */
// .stk-block-button.stk-cbd27bb .stk-button.stk--hover-effect-darken:hover .stk-button__inner-text {
//     color: var(--wp--preset--color--harbor-700, #4E6E88) !important;
//     transition: background-color 0.3s ease;
// }